body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/images/Castle_Circus_Amusement_Park_Happy_Holiday_Illustration_05_-Converted-_generated.jpg');
  font-family: "Outfit", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1 {
  color: rgb(44, 41, 78);
  font-size: 4rem;
}

header {
  margin: 10px;
}

.link {
  display: inline;
  padding: 10px;
}

#jan {
  font-family: "Fugaz One", sans-serif;
  font-size: 10rem;
}